name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g., v1.2.3)'
        required: true
        default: 'v1.0.0'

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        targets:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
          - target: aarch64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.targets.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        run: rustup target add ${{ matrix.targets.target }}
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.targets.target }}
          args: "--locked --release"
      - name: Set release version
        run: echo "RELEASE_VERSION=${GITHUB_REF_NAME#v}" >> ${GITHUB_ENV}
      - name: Archive (tar, Unix)
        if: matrix.targets.os != 'windows-latest'
        run: tar -czf cyrtag-fixer-${{ env.RELEASE_VERSION }}-${{ matrix.targets.target }}.tar.gz -C target/${{ matrix.targets.target }}/release cyrtag-fixer
      - name: Archive (zip, Windows)
        if: matrix.targets.os == 'windows-latest'
        shell: bash
        run: 7z a cyrtag-fixer-${{ env.RELEASE_VERSION }}-${{ matrix.targets.target }}.zip target/${{ matrix.targets.target }}/release/cyrtag-fixer.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-${{ matrix.targets.target }}
          path: |
            cyrtag-fixer-${{ env.RELEASE_VERSION }}-${{ matrix.targets.target }}.tar.gz
            cyrtag-fixer-${{ env.RELEASE_VERSION }}-${{ matrix.targets.target }}.zip
          if-no-files-found: error

  release:
    name: release
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Set tag name
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          else
            echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
          fi
      - name: Show the version
        run: |
          echo "version is: $VERSION"
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          files: artifacts/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      version: ${{ env.VERSION }}